{% extends 'base.html.twig' %}

{% block title %}Ajouter un nouvel anime{% endblock %}

{% block body %}
    <div class="p-5">
        <h1 class="text-2xl font-bold mb-5">Ajouter un nouvel anime</h1>
        {% for message in app.flashes('success') %}
            <div class="bg-green-500 text-white p-2 mb-4 rounded">
                {{ message }}
            </div>
        {% endfor %}
        <div class="bg-white shadow-md rounded p-6">
            {{ form_start(form) }}
        
            <div class="mb-4">
                {{ form_label(form.title, 'Titre', {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
                {{ form_widget(form.title, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
                {{ form_errors(form.title) }}
            </div>
            <div class="mb-4">
                {{ form_label(form.releaseYear, 'Année de sortie', {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
                {{ form_widget(form.releaseYear, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
                {{ form_errors(form.releaseYear) }}
            </div>
            <div class="mb-4">
                {{ form_label(form.synopsis, 'Synopsis', {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
                {{ form_widget(form.synopsis, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
                {{ form_errors(form.synopsis) }}
            </div>
            <div class="mb-4">
                {{ form_label(form.episodeCount, 'Nombre d\'épisodes', {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
                {{ form_widget(form.episodeCount, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
                {{ form_errors(form.episodeCount) }}
            </div>
            <div class="mb-4">
                {{ form_label(form.durationPerEpisode, 'Durée par épisode (min)', {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
                {{ form_widget(form.durationPerEpisode, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
                {{ form_errors(form.durationPerEpisode) }}
            </div>
            <div class="mb-4">
                {{ form_label(form.studio, 'Studio', {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
                {{ form_widget(form.studio, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
                {{ form_errors(form.studio) }}
            </div>
            <div class="mb-4">
                {{ form_label(form.directors, 'Directeurs', {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
                {{ form_widget(form.directors, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
                {{ form_errors(form.directors) }}
            </div>
            <div class="mb-4">
                {{ form_label(form.characters, 'Personnages', {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
                {{ form_widget(form.characters, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
                {{ form_errors(form.characters) }}
            </div>
            <div class="mb-4">
                {{ form_label(form.genres, 'Genres', {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
                {{ form_widget(form.genres, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
                {{ form_errors(form.genres) }}
            </div>
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                Enregistrer l'anime
            </button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
